{% extends 'base.html.twig' %}

{% block title %}Page exercice3{% endblock %}

{% block body %}

<p>Bonjour {{pseudo}}, tu as {{age}} an{% if age > 1 %}s{% endif %}.</p>

{% endblock %}

{# si j'ai besoin d'un fichier javascript uniquement sur cette page, je déclare le block #}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset ('js/jquery.ui.min.js') }}"></script>
{% endblock %}