{#
	le mot clé extends permet de faire hériter notre vue du layout (fichier base.html.twig, le model)
	comme pour les classes, une vue ne peut hériter que d'un layout
	par contre, une vue peut hériter d'une autre vue qui peut hériter elle-même d'une autre vue
	twig va chercher directement les vues dans templates/
	mon fichier base.html.twig se situe à la racine de templates/
#}

{% extends 'base.html.twig' %}

{# je définis les blocks et et leur contenu #}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

	<h1>Page d'accueil</h1>
	<p>Ceci est la page d'accueil du site</p>
	
	{# commentaires twig #}

	{# pour afficher ue variable : #}
	{#
	{{ mavariable }}
	#}

	{# boucle #}
	{#
	{% for article in articles %}

	{% endfor %}
	#}

	{# condition #}
	{#
	{% if mavariable == 'toto' %}

	{% endif %}
	#}

	<p>Bonjour {{nom}}</p>

{% endblock %}




